@import 'color';

.container-fluid {
	padding: 0;
}

.container-fluid#articles {
	.hero {
		background-image: asset-url("backgrounds/background_article_1.jpg",image);
		background-size: cover;
		background-position: center center;
		background-repeat: none;
		width: 100%;
		height: 200px;
	}

}
	
.container#articles {	

	article {
		margin: 20px 0;
		border-bottom: 1px solid $grey;
		.title {
			h2 {
				font-weight: 800;
			}
		}
		.image-preview {
			width: 100%;
			height: 300px;
			background-position: center center;
			background-size: cover;
		}
		.read-more {
			background-color: $grey;
			border-radius: 0 0 10px 10px;
			padding: 5px 15px;
			margin: 10px 0;
		}
	}

	.pagination {
		width: 100%;
		li {
			display: none
		}
		.prev, .next {
			display: inline-block
		}
		.next {
			float: right;
		}
	}
}