@import 'color';

.container-fluid {
	padding: 0;
}

#articles {	
	.hero {
		background-image: asset-url("backgrounds/background_article_1.jpg",image);
		background-size: cover;
		background-position: center center;
		background-repeat: none;
		width: 100%;
		height: 200px;
	}
	a {
		text-decoration: none;
		h2 {
			color: #444;
			display: inline-block;
			&:hover {
				color: #111;
			}
		}
	}

	article {
		margin: 20px 0;
		border-bottom: 1px solid $grey;
		.title {
			h2 {
				font-weight: 800;
			}
		}
		.image-preview {
			width: 100%;
			height: 300px;
			background-position: center center;
			background-size: cover;
		}
		.read-more {
			background-color: $grey;
			border-radius: 0 0 10px 10px;
			padding: 5px 15px;
			margin: 10px 0;
		}
	}

	.pagination {
		width: 100%;
		li {
			display: none
		}
		.prev, .next {
			display: inline-block
		}
		.next {
			float: right;
		}
	}
}

#article {
	.target {
		width: 100%;
		height: 200px;
		background: #000;
		.hero {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			opacity: 0.4;
		}
	}
	&.article {
		position: relative;
		top: -175px;
		.featured-image {
			img {
				border: 10px solid #fff;
				box-shadow: 0 0 30px #000;
				width: 100%;
			}
		}
		article {
			h1 {
				margin: 10px auto 0 auto;
			}
			h5 {
				margin: 0px auto 10px auto;
				color: #777;
			}
		}
	}
}