@import 'color';

.container-fluid {
	padding: 0;
}

#articles {	
	.hero {
		background-image: image-url("backgrounds/background_article_1.jpg");
		background-size: cover;
		background-position: center center;
		background-repeat: none;
		width: 100%;
		height: 200px;
	}
	a {
		text-decoration: none;
		h2 {
			color: #444;
			display: inline-block;
			&:hover {
				color: #111;
			}
		}
	}

	article {
		margin: 20px 0;
		border-bottom: 1px solid $grey;
		.title {
			h2 {
				font-weight: 800;
			}
		}
		.image-preview {
			width: 100%;
			height: 300px;
			background-position: center center;
			background-size: cover;
		}
		.read-more {
			background-color: $grey;
			border-radius: 0 0 10px 10px;
			padding: 5px 15px;
			margin: 10px 0;
		}
	}

	.pagination {
		width: 100%;
		li {
			display: none
		}
		.prev, .next {
			display: inline-block
		}
		.next {
			float: right;
		}
	}
}

#article {
	img {
		width: 80%;
		margin: 0 auto;
		border: 5px solid #fff;
		box-shadow: 0 0 10px #000;
		display: block;
		@media screen and (max-width: 760px) {
			width: 95%;
			border: 3px solid #fff;
			box-shadow: 0 0 5px #000;
		}
	}
	.target {
		width: 100%;
		height: 200px;
		background: #000;
		.hero {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			opacity: 0.4;
		}
	}
	&.article {
		position: relative;
		top: -175px;
		.featured-image {
			img {
				border: 10px solid #fff;
				box-shadow: 0 0 30px #000;
				width: 100%;
			}
		}
		article {
			.exif-data {
				background: #eee;
				#toggle-exif-data {
					text-align: center;
					border: 1px solid #ccc;
					background: #f7f7f7;
					padding: 5px 0;
					border-radius: 10px 10px 0 0;
					cursor: pointer;
				}
				#exif {
					height: 0;
					overflow: hidden;
				}
				table {
					width: 100%;
				}
				tr, td {
					text-align: center;
					width: 50%;
					padding: 5px;
					border: 1px solid #ccc;
				}
			}
			h1 {
				margin: 10px auto 0 auto;
			}
			h5 {
				margin: 0px auto 10px auto;
				color: #777;
			}
		}
	}
	.more-links {
		padding: 10px 0 0 0;
		border-top: 1px solid #ccc;
		@media screen and (min-width: 320px) {
			display: none;
		}
		@media screen and (min-width: 760px) {
			display: block;
		}
		a {
			text-decoration: none;
		}
	}
	.custom-center {
		margin: 0 auto;
		display: block;
		width: 163px;
		font-size: 18px;
		text-decoration: none;
	}
}